pytest
wheel
build
isort
black
flake8

jupyterlab
torch
tqdm
pandas
numpy
wandb
ftfy
regex
scikit-learn
click
joblib
pyyaml
nltk
hydra-core
pytorch-lightning
hydra_colorlog
rich
datasets
six
filelock
diffwave